.container__info {
  display: flex;
  justify-content: space-around;
}

.user-info {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  margin-bottom: var(--mb-0-5);
  transition: all 0.5s;
}

.local__time,
.commit__code {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  min-width: none;
}

.local__time-content span {
  margin: 0 0.25rem;
  color: var(--title-color);
}

.commit__code a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Menghapus garis bawah default dari link */
  color: var(--title-color); /* Ganti warna teks dengan warna yang diinginkan */
}

.commit__code a:hover {
  color: var(--hover-color); /* Ganti warna teks saat hover */
}

.hide-user-info {
  bottom: -30%;
}

.local__time-icon,
.repo__link-icon {
  fill: var(--text-color);
}

/* Breakspoints */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .user-info {
    margin-bottom: 3rem;
  }

  .set-height {
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 576px) {
  .container__info {
    display: block;
  }

  .local__time,
  .commit__code {
    justify-content: start;
    margin-bottom: var(--mb-0-25);
  }
}

@media screen and (max-width: 350px) {
}
